.root {
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  box-sizing: border-box;
}

body {
  padding: 1em 0;
  height: 100vh;
  background-color: #f0f0f0; /* or any color you prefer */
}

@media (min-width: 768px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
}

* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* Header */
.header {
  position: relative;
}

.header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  border-radius: 1em;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

/* Tab */
.tabs {
  display: flex;
  gap: 1rem;
}

.tab {
  outline: none;
  border: none;
  background-color: none;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
}

.tab-active {
  border-bottom: 4px solid orange; /* or any color you prefer */
}

/* Form */
form {
  display: flex;
  background-color: white;
  align-items: center;
}

input {
  padding: 0.5em;
  font-size: 2em;
  flex: 1;
  border: none;
}

input:focus {
  outline: none;
}

form > button {
  background-color: white;
  border: none;
  cursor: pointer;
}

/* Recipe card */
.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.recipeCard {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border: 0.1px solid gray;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.recipeCard figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.recipeCard figure img {
  width: 100%;
  height: 100%;
  padding: 0;
}

.recipe-card h3 {
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Recipe modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  padding: 2em;
  border-radius: 4px;
  max-width: 500px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-header .close-button {
  font-size: 2rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.view-more-button {
  font-size: 1.3em;
  padding: 0.5em;
  font-weight: bold;
  margin: 1.5rem auto;
}
